In [109]:
%pwd

'/home/sunghyun/oneview-backend/oneview-backend_0608'

In [113]:
import sqlalchemy
from sqlalchemy import create_engine, func, select, case, between
from sqlalchemy.orm import sessionmaker
from app import models

In [114]:
SQLALCHEMY_DATABASE_URL = "oracle+cx_oracle://nwai:nwai123@10.203.13.202:8316/?service_name=xe&encoding=UTF-8&nencoding=UTF-8"

engine = create_engine(SQLALCHEMY_DATABASE_URL)

SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)
db = SessionLocal()

In [8]:
print(db)

<sqlalchemy.orm.session.Session object at 0x7fd65032cad0>

In [12]:
%%time
query = """
select a.base_date,  a.area_jo_nm1, b.sido_nm, b.gun_gu_nm, b.eup_myun_dong_nm, (sum(a.WJXBFS4) / sum(a.WJXBFS2) )* 100.0 as cut_ratio
from dashboard_volte_dd a
left outer join dashboard_bts_info_dd b
on (a.base_date=b.base_date AND a.equip_cd = b.equip_cd)
WHERE a.base_date between '20220501' AND '20220503' 
group by a.base_date, a.area_jo_nm1, b.sido_nm, b.gun_gu_nm, b.eup_myun_dong_nm

"""
result = db.execute(query)
print("TYPE: ", type(result))

TYPE:  <class 'sqlalchemy.engine.cursor.CursorResult'>
CPU times: user 6.8 ms, sys: 3.26 ms, total: 10.1 ms
Wall time: 6.6 s

In [10]:
%%time
query = """
select base_date, area_jo_nm1, equip_nm, gun_gu_nm||' '||eup_myun_dong_nm||' '||bj_nm AS addr, (sum(WJXBFS4) / sum(WJXBFS2) )* 100.0 as cut_ratio
from dashboard_volte_dd
WHERE base_date in ('20220501')
group by base_date, area_jo_nm1, equip_nm, gun_gu_nm||' '||eup_myun_dong_nm||' '||bj_nm
having (sum(WJXBFS4) / sum(WJXBFS2) )* 100.0 between 0 and 0.49
order by (sum(WJXBFS4) / sum(WJXBFS2) )* 100.0 DESC nulls last
"""

result = db.execute(query)
print("TYPE: ", type(result))

TYPE:  <class 'sqlalchemy.engine.cursor.CursorResult'>
CPU times: user 4.22 ms, sys: 0 ns, total: 4.22 ms
Wall time: 473 ms

In [11]:
%%time
query = """
SELECT dashboard_volte_dd.equip_nm, concat(dashboard_volte_dd.sido_nm, dashboard_volte_dd.eup_myun_dong_nm) AS juso,
dashboard_volte_dd.oper_team_nm, dashboard_volte_dd.area_jo_nm1, sum(nvl(dashboard_volte_dd.wjxbfs1, 0)) AS sum_1,
sum(nvl(dashboard_volte_dd.wjxbfs2, 0)) AS sum_2, sum(nvl(dashboard_volte_dd.wjxbfs3, 0)) AS sum_3, sum(nvl(dashboard_volte_dd.wjxbfs4, 0)) AS sum_4,
coalesce(round((sum(nvl(dashboard_volte_dd.wjxbfs4, 0)) / (sum(nvl(dashboard_volte_dd.wjxbfs2, 0)) + 0.00001)) * 100, 4), 0.0000) AS cut_ratio 
FROM dashboard_volte_dd 
WHERE dashboard_volte_dd.base_date BETWEEN '20220501' AND '20220503' AND
dashboard_volte_dd.oper_team_nm = '충북엔지니어링부' /* (# 추후 소속 필터링조건 변경에 따라 대응) */
GROUP BY dashboard_volte_dd.equip_nm, concat(dashboard_volte_dd.sido_nm, dashboard_volte_dd.eup_myun_dong_nm), dashboard_volte_dd.oper_team_nm, dashboard_volte_dd.area_jo_nm1 
HAVING sum(nvl(dashboard_volte_dd.wjxbfs1, 0)) > 100 ORDER BY cut_ratio DESC

"""
result = db.execute(query)
print("TYPE: ", type(result))

TYPE:  <class 'sqlalchemy.engine.cursor.CursorResult'>
CPU times: user 0 ns, sys: 3.54 ms, total: 3.54 ms
Wall time: 340 ms

**#4. DASHBOARD_VOLTE_FC QUERY**

In [16]:
%%time
query = """
SELECT base_date, area_jo_nm1, fc, sum(wjxbfs1) AS cnt 
FROM dashboard_volte_fc a
WHERE a.fc = '373'
GROUP BY a.base_date, a.area_jo_nm1, a.fc 
"""
result = db.execute(query)
print("TYPE: ", type(result))
print(result.first)

TYPE:  <class 'sqlalchemy.engine.cursor.CursorResult'>
('20220505', '전남3조', '373', 539)
CPU times: user 3.51 ms, sys: 0 ns, total: 3.51 ms
Wall time: 58.4 ms

In [53]:
%%time
query = """
SELECT base_date, fc, sum(wjxbfs1) AS cnt
FROM dashboard_volte_fc a
WHERE a.fc = '373' OR a.fc = '9563'
GROUP BY a.base_date, a.fc
ORDER BY base_date ASC
"""
result = db.execute(query)
print("TYPE: ", type(result))
# print(result.first())
print(result.fetchall())

TYPE:  <class 'sqlalchemy.engine.cursor.CursorResult'>
[('20220501', '373', 5263), ('20220501', '9563', 7170), ('20220502', '373', 8207), ('20220502', '9563', 11364), ('20220503', '373', 8503), ('20220503', '9563', 11513), ('20220504', '373', 8875), ('20220504', '9563', 11855), ('20220505', '373', 5850), ('20220505', '9563', 8684), ('20220506', '373', 7970), ('20220506', '9563', 10789), ('20220507', '373', 6259), ('20220507', '9563', 8189), ('20220508', '373', 6068), ('20220508', '9563', 7818), ('20220509', '373', 8066), ('20220509', '9563', 11614), ('20220510', '373', 8657), ('20220510', '9563', 12067), ('20220511', '373', 11903), ('20220511', '9563', 12814), ('20220512', '373', 8256), ('20220512', '9563', 12697), ('20220513', '373', 8396), ('20220513', '9563', 12291), ('20220514', '373', 6291), ('20220514', '9563', 8862), ('20220515', '373', 4945), ('20220515', '9563', 7207), ('20220516', '373', 8307), ('20220516', '9563', 11482), ('20220517', '373', 8013), ('20220517', '9563', 11394), ('20220518', '373', 8227), ('20220518', '9563', 11553), ('20220519', '373', 8041), ('20220519', '9563', 11449), ('20220520', '373', 8543), ('20220520', '9563', 11962), ('20220521', '373', 6400), ('20220521', '9563', 9872), ('20220522', '373', 4974), ('20220522', '9563', 7497), ('20220523', '373', 7919), ('20220523', '9563', 11912), ('20220524', '373', 8014), ('20220524', '9563', 11855), ('20220525', '373', 8459), ('20220525', '9563', 12046), ('20220526', '373', 7754), ('20220526', '9563', 11832), ('20220527', '373', 7975), ('20220527', '9563', 11938), ('20220528', '373', 5833), ('20220528', '9563', 9190), ('20220529', '373', 5708), ('20220529', '9563', 7729), ('20220530', '373', 7796), ('20220530', '9563', 11776), ('20220531', '373', 8599), ('20220531', '9563', 12711)]
CPU times: user 2.88 ms, sys: 0 ns, total: 2.88 ms
Wall time: 12.1 ms

In [112]:
%%time
query = """
SELECT base_date, sum(CASE WHEN fc = '373' THEN wjxbfs1 END) AS fc_373_cnt, sum(CASE WHEN fc = '9563' THEN wjxbfs1 END) AS fc_9563_cnt,
sum(CASE WHEN fc = '373' OR fc = '9563' THEN wjxbfs1 END) AS fc_sum_cnt
FROM dashboard_volte_fc a
GROUP BY a.base_date
ORDER BY base_date ASC
"""
result = db.execute(query)
print("TYPE: ", type(result))
# print(result.first())
print(result.fetchall())

TYPE:  <class 'sqlalchemy.engine.cursor.CursorResult'>
[('20220501', 5263, 7170, 12433), ('20220502', 8207, 11364, 19571), ('20220503', 8503, 11513, 20016), ('20220504', 8875, 11855, 20730), ('20220505', 5850, 8684, 14534), ('20220506', 7970, 10789, 18759), ('20220507', 6259, 8189, 14448), ('20220508', 6068, 7818, 13886), ('20220509', 8066, 11614, 19680), ('20220510', 8657, 12067, 20724), ('20220511', 11903, 12814, 24717), ('20220512', 8256, 12697, 20953), ('20220513', 8396, 12291, 20687), ('20220514', 6291, 8862, 15153), ('20220515', 4945, 7207, 12152), ('20220516', 8307, 11482, 19789), ('20220517', 8013, 11394, 19407), ('20220518', 8227, 11553, 19780), ('20220519', 8041, 11449, 19490), ('20220520', 8543, 11962, 20505), ('20220521', 6400, 9872, 16272), ('20220522', 4974, 7497, 12471), ('20220523', 7919, 11912, 19831), ('20220524', 8014, 11855, 19869), ('20220525', 8459, 12046, 20505), ('20220526', 7754, 11832, 19586), ('20220527', 7975, 11938, 19913), ('20220528', 5833, 9190, 15023), ('20220529', 5708, 7729, 13437), ('20220530', 7796, 11776, 19572), ('20220531', 8599, 12711, 21310)]
CPU times: user 0 ns, sys: 10.7 ms, total: 10.7 ms
Wall time: 41.6 ms